.git
**/.git
.next
**/.next
.turbo
**/.turbo
coverage
**/coverage
dist
**/dist
build
**/build
node_modules
**/node_modules
.pnpm-store
**/.pnpm-store
.dev.log
.env
.env.*
!.env.example
!.env.*.example
*.tsbuildinfo
**/*.tsbuildinfo
